select option {
    background-color: aqua;
}

input[type=text]:invalid {
    border: 1px solid red; 
}

input[type=text]:valid {
    border: 1px solid green; 
}

input[type=text]:focus {
    background-color: pink;
    border: none; 
}

input[type=text] {
    -webkit-text-security:square;
}

#btn1 {
    background-color: blue;
}

.buttons {
    background-color: yellow;
}

.clickable-spans {
    cursor: pointer;
    color: blue;
}

.red-elements {
    color: red;
}

#clickable-span {
    border: 1px solid black;
    border-radius: 3px;
    /* background-color: lightgray; */
    padding: 5px;
}

/* 
Specifity streagth : 
tag < tag with attribute selector < class < id < inline style 
*/